In [91]:
import pandas as pd

In [92]:
df = pd.read_csv('thyroid.csv')

In [93]:
df.shape

(9172, 30)

In [94]:
df.head()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,y
0,29,F,f,f,f,f,f,f,f,t,...,f,?,f,?,f,?,f,?,other,0
1,29,F,f,f,f,f,f,f,f,f,...,t,128,f,?,f,?,f,?,other,0
2,41,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,11,other,0
3,36,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,0
4,32,F,f,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,36,other,1

What percentage of instances in this data frame has value 1 in the column ``y``? Enter the answer as a value between 0 and 100, and two digits after the decimal point and without the percent sign.

In [95]:
df['y'].value_counts(normalize=True) * 100

0    73.822503
1    26.177497
Name: y, dtype: float64

In [96]:
df['sex'].value_counts(normalize=True) * 100

F    66.212386
M    30.440471
?     3.347143
Name: sex, dtype: float64

What is the average age of all patients in this data frame? Enter the answer with two digits after the decimal point.

In [97]:
import numpy as np
np.mean(df['age'])

73.55582206716092

How many unique values are in the column referral source?

In [98]:
df['referral source'].nunique()

6

Which class in the column referral source has the highest frequency?

In [99]:
df['referral source'].mode()

0    other
dtype: object

In [100]:
import statistics
from statistics import mode
mode(df['referral source'])

'other'

Now, replace all the sentinel values with np.nan. What percentage of all cells is marked with np.nan? Enter the answer as a value between 0 and 100, and two digits after the decimal point and without the percent sign.

In [101]:
df= df.replace('?', np.nan )

In [102]:
df.isnull().sum().sum()/ df.size *100

5.316543102195086

#What percentage of the rows in this data frame have at least one attribute flagged as a missing value. cEnter the answer as a value between 0 and 100, and two digits after the decimal point and without the percent sign.

In [103]:
#10
sum([True for idx,row in df.iterrows() if any(row.isnull())])/len(df)*100

99.78194505015264

In [123]:
#11
df.isna().sum().sum()/len(df)

1.561491495856956

In [105]:
#12
df['sex'].mode()

0    F
dtype: object

In [106]:
df['sex'] = df['sex'].replace(np.nan, 'F')

In [107]:
df['sex'].isnull().sum()

0

In [108]:
df['sex'] = df['sex'].replace('F', 1)
df['sex'] = df['sex'].replace('M', 0)

In [109]:
df['sex'].mean()

0.6955952900130833

In [110]:
#13
df['on thyroxine','on thyroxine'].unique()

KeyError: ('on thyroxine', 'on thyroxine')

In [111]:
df['query on thyroxine'].unique()

array(['f', 't'], dtype=object)

In [112]:
#14
df= df.drop( ['query on thyroxine','on thyroxine'], axis=1)

In [113]:
df.shape

(9172, 28)

#15
Apply a proper data transformation on the columns 'on antithyroid medication' and 'sick' to transform them into numerical columns. Then use a correlation function np.corrcoef to find the linear correlation coefficient of these two columns. You can read about this function here[https://numpy.org/doc/stable/reference/generated/numpy.corrcoef.html]. Enter the correlation coefficient with two digits after the decimal point.

In [114]:
df['on antithyroid medication'].unique()
df['on antithyroid medication'] = df['on antithyroid medication'].replace('t', 1)
df['on antithyroid medication'] = df['on antithyroid medication'].replace('f', 0)

In [115]:
df['sick'] = df['sick'].replace('t', 1)
df['sick'] = df['sick'].replace('f', 0)
df['sick'].max()

1

In [116]:
x=df['on antithyroid medication'] 
y=df['sick']

In [117]:
np.corrcoef(x,y)

array([[ 1.        , -0.02234132],
       [-0.02234132,  1.        ]])

In [118]:
correlation = x.corr(y)

In [119]:
correlation

-0.0223413209065432

In [120]:
#16
df['I131 treatment'].value_counts()

f    9003
t     169
Name: I131 treatment, dtype: int64

In [121]:
#17
df['thyroid surgery'].value_counts()

f    9038
t     134
Name: thyroid surgery, dtype: int64

In [122]:
#18
df['pregnant'].value_counts()

f    9065
t     107
Name: pregnant, dtype: int64

In [77]:
#19
df['query hyperthyroid'].value_counts()

f    8521
t     651
Name: query hyperthyroid, dtype: int64

In [78]:

#21
df['lithium'].value_counts()

f    9079
t      93
Name: lithium, dtype: int64

In [79]:
#21
df['goitre'].value_counts()

f    9088
t      84
Name: goitre, dtype: int64

In [80]:
df['tumor'].value_counts()

f    8931
t     241
Name: tumor, dtype: int64

In [81]:
df['hypopituitary'].value_counts()

f    9170
t       2
Name: hypopituitary, dtype: int64

In [82]:
df['psych'].value_counts()

f    8754
t     418
Name: psych, dtype: int64

In [83]:
df['TSH measured'].value_counts()

t    8330
f     842
Name: TSH measured, dtype: int64

In [84]:
df['TSH']= df['TSH'].replace(np.nan,0)

In [85]:
#27
df['TSH']= pd.to_numeric(df['TSH'])

In [86]:
df['TSH'].mean()

4.739347463911906

In [87]:
#28
df1=df.select_dtypes(include=['object'])
df1

,pregnant,thyroid surgery,I131 treatment,query hypothyroid,query hyperthyroid,lithium,goitre,tumor,hypopituitary,psych,...,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source
0,f,f,f,t,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,f,NaN,f,NaN,other
1,f,f,f,f,f,f,f,f,f,f,...,1.9,t,128,f,NaN,f,NaN,f,NaN,other
2,f,f,f,f,t,f,f,f,f,f,...,NaN,f,NaN,f,NaN,f,NaN,t,11,other
3,f,f,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,f,NaN,t,26,other
4,f,f,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,f,NaN,t,36,other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9167,f,f,f,f,t,f,f,f,f,f,...,NaN,t,64,t,0.83,t,77,f,NaN,SVI
9168,f,f,f,f,f,f,f,f,f,f,...,NaN,t,91,t,0.92,t,99,f,NaN,SVI
9169,f,f,f,f,f,f,f,f,f,f,...,NaN,t,113,t,1.27,t,89,f,NaN,SVI
9170,f,f,f,f,f,f,f,f,f,f,...,NaN,t,75,t,0.85,t,88,f,NaN,other
9171,f,f,f,t,f,f,f,f,f,f,...,NaN,t,66,t,1.02,t,65,f,NaN,other

In [88]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9172 entries, 0 to 9171
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pregnant            9172 non-null   object
 1   thyroid surgery     9172 non-null   object
 2   I131 treatment      9172 non-null   object
 3   query hypothyroid   9172 non-null   object
 4   query hyperthyroid  9172 non-null   object
 5   lithium             9172 non-null   object
 6   goitre              9172 non-null   object
 7   tumor               9172 non-null   object
 8   hypopituitary       9172 non-null   object
 9   psych               9172 non-null   object
 10  TSH measured        9172 non-null   object
 11  T3 measured         9172 non-null   object
 12  T3                  6568 non-null   object
 13  TT4 measured        9172 non-null   object
 14  TT4                 8730 non-null   object
 15  T4U measured        9172 non-null   object
 16  T4U                 8363 non-null   object
 17  FTI measured        9172 non-null   object
 18  FTI                 8370 non-null   object
 19  TBG measured        9172 non-null   object
 20  TBG                 349 non-null    object
 21  referral source     9172 non-null   object
dtypes: object(22)
memory usage: 1.5+ MB

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9172 entries, 0 to 9171
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        9172 non-null   int64
 1   sex                        9172 non-null   int64
 2   on antithyroid medication  9172 non-null   int64
 3   sick                       9172 non-null   int64
 4   pregnant                   9172 non-null   object
 5   thyroid surgery            9172 non-null   object
 6   I131 treatment             9172 non-null   object
 7   query hypothyroid          9172 non-null   object
 8   query hyperthyroid         9172 non-null   object
 9   lithium                    9172 non-null   object
 10  goitre                     9172 non-null   object
 11  tumor                      9172 non-null   object
 12  hypopituitary              9172 non-null   object
 13  psych                      9172 non-null   object
 14  TSH measured               9172 non-null   object
 15  TSH                        9172 non-null   float64
 16  T3 measured                9172 non-null   object
 17  T3                         6568 non-null   object
 18  TT4 measured               9172 non-null   object
 19  TT4                        8730 non-null   object
 20  T4U measured               9172 non-null   object
 21  T4U                        8363 non-null   object
 22  FTI measured               9172 non-null   object
 23  FTI                        8370 non-null   object
 24  TBG measured               9172 non-null   object
 25  TBG                        349 non-null    object
 26  referral source            9172 non-null   object
 27  y                          9172 non-null   int64
dtypes: float64(1), int64(5), object(22)
memory usage: 2.0+ MB